table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px 10px;
}

table {
    margin-left: 15px;
}

input[type="text"], input[type="password"] {
    width: 99%;
    border: 1px solid lightgray;
}

button {
    margin-left: 15px;
    margin-bottom: 5px;
}

.editor_table{
    width: 660px;
}