.idea/
Boot/.metadata/
mvn*
**/.mvn/*
**/.settings/*
**/target/*
**/.classpath
**/.project
**/bin
**/test/*
**/Servers
**/.metadata/*
**/node_modules/*
Boot/FileServer/
NextJS/15_editor/public/richtexteditor/
NextJS/16_editor_board/public/richtexteditor/
