table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}
th{
    padding: 10px 25px;
}
td{
    padding: 10px;
}
.login{
    height: 67px;
}
input[type="button"],button{
    margin:5px;
}