@charset "UTF-8";
	th,td {
		padding : 5px;
	}
	
	table,th,td{
		border : 1px solid #000;
		border-collapse: collapse;
		text-align : center;
	}
	textarea{
		width : 100%;
		height : 150px;
		resize:none;
	}
	table{
		width : 500px;
	}
	input[type='text'] {
		width : 100%;
	}