<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.himedia.dao.BbsDAO">

	<select id="list" resultType="kr.co.himedia.dto.BbsDTO">
		SELECT 
			b.idx
			,(SELECT COUNT(file_idx) FROM photo WHERE idx = b.idx) AS cnt
			,b.subject
			,b.bHit
			,b.user_name
			,b.reg_date
		FROM bbs b ORDER BY b.idx DESC
		LIMIT #{param2} OFFSET #{param1}
	</select>
	
	<select id="pages" resultType="int">
		SELECT CEIL(COUNT(idx)/5) AS pages FROM bbs
	</select>

	<select id="detail" resultType="kr.co.himedia.dto.BbsDTO">
		SELECT * FROM bbs WHERE idx=#{param1}
	</select>

	<insert id="write" 
		parameterType="kr.co.himedia.dto.BbsDTO"
		useGeneratedKeys="true" 
		keyColumn="idx" 
		keyProperty="idx">
		INSERT INTO bbs (user_name, subject, content)
		VALUES (#{user_name}, #{subject}, #{content})
	</insert>
	
	<update id="update" parameterType="kr.co.himedia.dto.BbsDTO">
		UPDATE bbs SET user_name=#{user_name}, subject =#{subject}, content=#{content} 
		WHERE idx=#{idx}
	</update>
	
	<delete id="delete">
		DELETE FROM bbs WHERE idx=#{param1}
	</delete>
	
	<insert id="fileWrite">
		INSERT INTO photo(idx,ori_filename,new_filename)
			VALUES(#{param1},#{param2},#{param3})
	</insert>	
	
	<select id="photoList" resultType="map">
		SELECT * FROM photo WHERE idx = #{param1}
	</select>
	
	<select id="fileInfo" resultType="map">
		SELECT ori_filename, new_filename 
			FROM photo WHERE file_idx=#{param1}
	</select>
	
	
</mapper>









