div.app{
    margin: 20px;
    width: 50%;
    border: 1px solid lightgray;
    padding: 10px;
}

input[type="text"]{
    height: 40px;
    width: 83%;
    border-top: 1px solid white;
    border-right: 1px solid white;
    border-left: 1px solid white;
    border-bottom: 1px solid green;
}

input:focus{
    outline: none;
}

button{
    height: 40px;
    width:14%;
    color : green;
    background-color: white;
    border: 1px solid green;
    margin-left: 5px;
    font-weight: bold;
}

button:hover{
    background-color: green;
    color: white;
}

div.item{
    padding: 14px;
    border-bottom: 1px solid lightgray;
}

div.text{
    display:inline;
    font-size: 20px;
}

div.delete{
    float:right;
    color:red;
    font-weight: bold;
    cursor: pointer;
}

div.done{
    text-decoration: line-through;
}






























